/*Mobile header*/
@media (max-width: 768px) {

    .nav-links {
        display: none;
    }

    .burger {
        display: inline-block;
        position: fixed;
        left: 1rem;
        top: 1.2rem;
        z-index: 999;
        cursor: pointer;
        color: var(--primary-color);
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        padding: 1rem;
        background: var(--bg-card);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 0.4s ease, opacity 0.4s ease;
        z-index: 9999;
    }

    .mobile-menu.open {
        transform: translateX(0);
        opacity: 1;
    }
}