.custom-cursor {
    width: 50px;
    height: 20px;
    border: 2px solid rgba(139, 0, 0, 0.30);
    border-radius: 2px;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 0 8px rgba(139, 0, 0, 0.2);
    transition:
        width 0.15s,
        height 0.15s,
        background-color 0.2s,
        transform 0.15s,
        box-shadow 0.15s;
}

@media (max-width: 768px) {
    .custom-cursor {
        display: none;
    }
}