/*Desktop layout*/
.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    z-index: 1000;
    background: linear-gradient(to bottom,
            rgba(22, 27, 34, 0.7),
            rgba(22, 27, 34, 0.2));
    backdrop-filter: blur(8px);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

.nav-links a,
.mobile-menu a {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
}

/* Underline animation */
.nav-links a::after,
.mobile-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    background: var(--primary-color);
    transition: transform 0.30s ease-out;
    transform: scaleX(0);
    transform-origin: left;
}

.nav-links a::after {
    width: 100%;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

.mobile-menu a::after {
    width: 75%;
}

.mobile-menu a:hover::after,
.mobile-menu a:focus::after {
    transform: scaleX(1);
}

/*hidden in computers*/
.burger {
    display: none;
    font-size: 1.8rem;
    left: 1rem;
    top: 1.2rem;
    cursor: pointer;
    color: var(--text-color);
}

.mobile-menu {
    display: none;
}

/*Mobile layout*/
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: inline-block;
        position: fixed;
        z-index: 2000;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        padding: 1rem;
        background: var(--bg-card);
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        /* hidden*/
        opacity: 0;
        transform: translateX(-100%);
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
        z-index: 200000;
        /* ABOVE header */
    }

    .mobile-menu.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }
}

/* close button- x */
.close-button {
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}